@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("./fonts/PTSansNarrow.ttf") format('opentype');
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("./fonts/PTSansNarrow-Bold.ttf") format('opentype');
}
